# Nearest Neighbor Algorithmus kNN

#### Import der Bibliotheken

In [2]:
import numpy as np  
import matplotlib.pyplot as plt
import pandas as pd

#### Einlesen und Filtern der Daten

In [3]:
df_kredit = pd.read_csv("https://datahub.io/machine-learning/credit-g/r/credit-g.csv", sep=',')
df_kredit.insert(0, 'Antragssteller_ID', df_kredit.index)
df_kredit = df_kredit.drop(['checking_status','foreign_worker','savings_status'], axis=1)
df_kredit.columns = ['Antragssteller_ID', 'Kredit_Zeitspanne',
       'Antragssteller_Kredit_Historie', 'Kredit_Nutzung', 'Kredit_Höhe',
       'Antragssteller_Beschäftigt_Seit', 'Antragssteller_Teilzahlungshöhe',
       'Antragssteller_Geschlecht_Familienstand',
       'Kredit_Zusätzliche_Antragssteller',
       'Antragssteller_Letzter_Wohnwechsel', 'Antragssteller_Eigentum',
       'Antragssteller_Alter', 'Antragssteller_Weitere_Ratenzahlungen',
       'Antragssteller_Wohnverhältnis', 'Antragssteller_Anzahl_Kredite',
       'Antragssteller_Job', 'Antragssteller_Anzahl_Personen_Vormund',
       'Antragssteller_Telefon', 'Kredit_Score']

#### Kontrolle der Daten

In [4]:
print(df_kredit.shape)
df_kredit.head(3)

(1000, 19)

,Antragssteller_ID,Kredit_Zeitspanne,Antragssteller_Kredit_Historie,Kredit_Nutzung,Kredit_Höhe,Antragssteller_Beschäftigt_Seit,Antragssteller_Teilzahlungshöhe,Antragssteller_Geschlecht_Familienstand,Kredit_Zusätzliche_Antragssteller,Antragssteller_Letzter_Wohnwechsel,Antragssteller_Eigentum,Antragssteller_Alter,Antragssteller_Weitere_Ratenzahlungen,Antragssteller_Wohnverhältnis,Antragssteller_Anzahl_Kredite,Antragssteller_Job,Antragssteller_Anzahl_Personen_Vormund,Antragssteller_Telefon,Kredit_Score
0,0,6,critical/other existing credit,radio/tv,1169,>=7,4,male single,none,4,real estate,67,none,own,2,skilled,1,yes,good
1,1,48,existing paid,radio/tv,5951,1<=X<4,2,female div/dep/mar,none,2,real estate,22,none,own,1,skilled,1,none,bad
2,2,12,critical/other existing credit,education,2096,4<=X<7,2,male single,none,3,real estate,49,none,own,1,unskilled resident,2,none,good

In [4]:
df_kredit['Kredit_Score'].value_counts()

good    700
bad     300
Name: Kredit_Score, dtype: int64

#### Auswahl der Daten

In [5]:
from sklearn.utils import shuffle
df_good = df_kredit[df_kredit['Kredit_Score']=='good']
df_bad = df_kredit[df_kredit['Kredit_Score']=='bad']
df_kredit = pd.concat([df_good[0:500], df_bad[0:300], df_bad[0:200]])
df_kredit= shuffle(df_kredit)

In [6]:
X = df_kredit[['Antragssteller_ID']]
y = df_kredit[['Kredit_Score']]

#### Aufteilung in Training und Test

In [7]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50)

#### Skalierung der Daten

In [8]:
from sklearn.preprocessing import StandardScaler  
scaler = StandardScaler()  
scaler.fit(X_train)
X_train = scaler.transform(X_train)  
X_test = scaler.transform(X_test)

#### Modellbildung

In [9]:
from sklearn.neighbors import KNeighborsClassifier  
classifier = KNeighborsClassifier(n_neighbors=5)  
classifier.fit(X_train, y_train.values.reshape(500,))

KNeighborsClassifier()

#### Vorhersage

In [10]:
y_pred = classifier.predict(X_test) 
y_pred[0:5]

array(['bad', 'good', 'good', 'bad', 'bad'], dtype=object)

#### Modellbewertung

In [11]:
from sklearn.metrics import accuracy_score, confusion_matrix  
print(accuracy_score(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

0.606
[[160  92]
 [105 143]]